:root {
    --primary-color: #506D11;
    --secondary-color: #76b012;
    --terciary-color: #262F12;
    --background-gradient: linear-gradient(-0deg, #262F12 0%, #506D11 55%, #76b012 100%);
    --input-border-color: white;
    --input-focus-border-color: #A1EE12;
    --button-border-color: #76b012;
    --button-hover-shadow-color: #A1EE12;
}
/* Classe .	ID # */
.logo {
    width: 100px;
    height: 100px;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(-0deg, #262F12 0%, #506D11 55%, #76b012 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-card {
    background: var(--primary-color);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

::-webkit-input-placeholder {
    color: white;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;

}
input:hover {
    outline: none;
    border-color: white;
    box-shadow: 0 0 5px white;
    border: white solid 1.5px;
}
input:focus {
    outline: none;
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 5px var(--input-focus-border-color);
    border: var(--input-focus-border-color) solid 1.5px;
}

input:active {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 5px var(--input-focus-border-color);
}

button {
    width: 100%;
    padding: 12px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    border: var(--text-muted) solid 1px;

}

button:hover {
box-shadow: var(--button-hover-shadow-color) 0px 0px 6px;
border: var(--button-hover-shadow-color) solid 1.5px;
}

button:focus {
    outline: none;
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 5px var(--input-focus-border-color);
    border: var(--input-focus-border-color) solid 1.5px;
}

h2 {
    color: white;
    margin-bottom: 20px;
    font-family: "New Rocker", system-ui;

}

.glitch-wrapper {
    position: relative;
    width: 150px; 
    height: 150px;
    margin: 0 auto;
    cursor: pointer; 
}

.logo-glitch {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s ease; 
}

.logo-glitch.red,
.logo-glitch.blue {
    opacity: 0;
    z-index: 1;

}


.logo-glitch.main {
    z-index: 3;
}


.glitch-wrapper:hover .logo-glitch.red {
    opacity: 0.7;
    animation: glitch-anim-1 0.2s infinite;
}

.glitch-wrapper:hover .logo-glitch.blue {
    opacity: 0.7;
    animation: glitch-anim-2 0.3s infinite;
}

.glitch-wrapper:hover .logo-glitch.main {
    animation: glitch-anim-main 0.1s infinite;
}

@keyframes glitch-anim-1 {
    0% { transform: translate(0); filter: hue-rotate(0deg); }
    20% { transform: translate(-10px, 6px); }
    40% { transform: translate(10px, -6px); }
    100% { transform: translate(0); }
}

@keyframes glitch-anim-2 {
    0% { transform: translate(0); }
    25% { transform: translate(8px, -4px); }
    75% { transform: translate(-8px, 4px); }
    100% { transform: translate(0); }
}

@keyframes glitch-anim-main {
    0% { transform: translate(0); }
    50% { transform: translate(1px, -1px); }
    100% { transform: translate(0); }
}

.faq-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
   
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.faq-button svg {
    height: 1.5em;
    fill: white;
}

.faq-button:hover svg {
    animation: jello-vertical 0.7s both;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

#bntesc {
    gap: 20px;
    position: fixed;
    bottom: 10px;
    right: 3px;
    margin: 10px;
}